@import './global'

.header
    background: $primary-color
    display: flex
    justify-content: space-between
    width: 100%
    height: 100px
    margin: 0 auto
    padding: 0 5vw

.header__logo
    align-self: center
    width: 75px

.header__logo img
    width: 100%

.header__navbar
    width: 30vw
    height: 100%

.header__navbar ul
    margin: 0
    height: 100%
    list-style: none
    display: flex
    justify-content: space-between
    align-items: center

.header__navbar ul li
    font-size: 2rem
    font-weight: bold
    color: $light-color
